<h2><%= @team.name %></h2>

<h3>Current Player (under contract)</h3>

<% @current_contracts.each do |c| %>

  <div>
    <%= c.player.name %> 
    <%= link_to 'Edit', edit_contract_url(c) %>
  </div>
<% end %>
