<%= javascript_pack_tag 'admin/odds_scraper' %>

<h2>Odds Scraper</h2>

<div id="app">
  <div>
    <div>
      <textarea v-model="teamsAndOdds"></textarea>
    </div>

    <div>
      <button @click="processData">Process</button>

      <input type="radio" id="fb" value="fb" v-model="market">
      <label for="fb">FB</label>
      <input type="radio" id="ft" value="ft" v-model="market">
      <label for="ft">FT</label>
      <input type="radio" id="fd" value="fd" v-model="market">
      <label for="fd">FD</label>
      <input type="radio" id="fbaron" value="fbaron" v-model="market">
      <label for="fbaron">Fbaron</label>
      <input type="radio" id="win" value="win" v-model="market">
      <label for="win">Win</label>
       
      <table>
        <tr>
          <td>Team One</td>
          <td>Team Two</td>
          <td>Team One Odds</td>
          <td>Team Two Odds</td>
        </tr>
        <tr v-for="odd in odds">
          <td>{{ odd.t1 }}</td>
          <td>{{ odd.t2 }}</td>
          <td>{{ odd.t1Odds }}</td>
          <td>{{ odd.t2Odds }}</td>
        </tr>
      </table>

      <button 
         v-if="odds.length"
         @click="postOdds">
        Post
      </button>
    </div>
  </div>
</div>
