<%= javascript_pack_tag 'admin/odds_scraper' %>

<h2>Odds Scraper</h2>

<div id="app">
  <button 
     @click="scrapeOdds('bet365')"
     :disabled="scraping">
     {{ scraping ? 'Scraping' : 'Scrape Bet 365' }}
  </button>

  <button @click="getOdds('bet365')">
    Get Bet 365 odds
  </button>

  <input type="checkbox" id="fb" value="fb" v-model="markets">
  <label for="fb">FB</label>
  <input type="checkbox" id="ft" value="ft" v-model="markets">
  <label for="ft">FT</label>
  <input type="checkbox" id="fd" value="fd" v-model="markets">
  <label for="fd">FD</label>
  <input type="checkbox" id="fbaron" value="fbaron" v-model="markets">
  <label for="fbaron">Fbaron</label>

  <div v-for="market in markets" :key="market">
    <h3>Data for {{ market }}</h3>

    <table>
      <tr v-for="data in marketData[market]">
        <td>{{ data[0] }}</td>
        <td>{{ data[1] }}</td>
        <td>{{ data[2] }}</td>
        <td>{{ data[3] }}</td>
      </tr>
    </table>
  </div>
</div>


