<head><link href=/dist/css/app.fc7259e7.css rel=preload as=style><link href=/dist/js/app.91f59492.js rel=preload as=script><link href=/dist/js/chunk-vendors.61c59c09.js rel=preload as=script><link href=/dist/css/app.fc7259e7.css rel=stylesheet></head><div id=app></div><script src=/dist/js/chunk-vendors.61c59c09.js></script><script src=/dist/js/app.91f59492.js></script><script>
<% if Rails.env == 'production' %>
  const username = "<%= current_user.email %>"

  gtag('event', 'view_app', {
    'event_category': 'view',
    'event_label': username,
    'value': username
  })
<% end %>
</script>