<head><link href=/dist/css/app.44b07870.css rel=preload as=style><link href=/dist/js/app.1cb1d412.js rel=preload as=script><link href=/dist/js/chunk-vendors.a35aa199.js rel=preload as=script><link href=/dist/css/app.44b07870.css rel=stylesheet></head><div id=app></div><script src=/dist/js/chunk-vendors.a35aa199.js></script><script src=/dist/js/app.1cb1d412.js></script><script>
<% if Rails.env == 'production' %>
  const username = "<%= current_user.email %>"

  gtag('event', 'view_app', {
    'event_category': 'view',
    'event_label': username,
    'value': username
  })
<% end %>
</script>