.article {
  display: flex;
  justify-content: center;
}

form { 
  width: 100%;

  input[type="text"], textarea {
    font-size: 1.3rem;
    width: 100%;
  }
}

.form_outer {
  display: flex;
  justify-content: center;
  width: 700px;
}

/* edit.html.erb */
.article_edit, .article_show {
  display: flex;
  justify-content: center;


  .article_outer {
    max-width: 800px;
  }

  .title {
    font-size: 2rem;
  }

  .body {
    font-size: 1.05rem;
  }
}

.article_edit {
  textarea {
    height: 80vh;
  }
}

/* show */
.article_show {
  white-space: pre-line;
}
