.game_show {
  .winner {
    font-weight: bold;
  }
}

.odds {
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  select, .odds_label {
    margin: 0 8px;
  }

  .odds_label {
    margin: 0 8px;
  }

  input {
    font-size: 1.0em !important;
    width: 50px !important;
  }
}

.match_uuid {
  input {
    width: 150px !important;
  }
}

%first_market {
  .first_market {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;

    select {
      width: 105px;
    }
  }
}

.game_edit {
  width: 300px;
  @extend %first_market;
} 

.game_new {
  width: 200px;
  @extend %first_market;
}
