<meta name="viewport" content="width=device-width, initial-scale=1">
<%= csrf_meta_tag %>

<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125733430-1"></script>
<script>
<% if Rails.env == 'production' %>
    window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-125733430-1', {
  'page_title' : 'landing_page',
  'page_path': '/'
});
<% end %>
</script>


<style>

.color-1 { color: pink }
.color-2 { color: hotpink; }
.color-3 { color: gold; }
.color-4 { color: lightblue; }
.color-5 { color: peachpuff; }
</style>

<div class="outer">
  <div class="bg wrapper">
    <div class="hero-text">
      <p>
      Let <span class="color-2">data</span> 
      drive your betting.</span> 
      </p>
      <p>
      Hi, I'm Lachlan, a <span class="color-2">data scientist</span> and <span class="color-3">League of Legends</span> fan. I'm building an <span class="color-2">analytics platform</span> to optimize my LCS betting.
      </p>

      <p>
      I've had <span class="color-3">great results</span> during the <span class="color-1">2019 Summer Split</span>. I've fined tuned my platform and have opened it to <span class="color-2">public.</span>

      </p>

      <p>
      <a href="/app" class="color-1">Click here to try it out.</a>
      </p>

    </div>

    <%= image_tag 'app_preview.png', { class: 'app_preview img_1' } %>

  </div>

</div>

<style>
html, body { 
  background-color: black; 
  padding: 0px; 
  margin: 0px; 
  border: 0px;
}

@media screen and (max-width: 480px) {
}

.outer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
}

.wrapper {
  max-width: 800px;
  padding-top: 100px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    padding-top: 0px;
    margin: 10px;
  }
}


.hero-text, form {
  width: 100%;
}

form {
  margin: 0 20px;
}

@media screen and (max-width: 480px) {
  form {
    margin: 15px 0 15px 0;
  }
}

.join-btn, .join-field {
  width: 100%;
  height: 50px;
  margin: 8px 0;
}

.join-field > input {
  color: black;
  padding: 8px;
}

.join-btn > input, .join-field > input {
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

input[type='submit'] {
  background-color: orange;
  -webkit-appearance: none;
  border: none;
}

a {
  text-decoration: underline;
}

.hero-text, input {
  line-height: 1.5;
  color: white;
  font-family: 'Comfortaa', cursive;
}

.loading {
  opacity: 0.5;
}

.app_preview {
  border: 3px solid grey;
}

.img_1 {
  width: 100%;
  object-fit: scale-down;
}
</style>
